<!DOCTYPE HTML>
<!--
	Industrious by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>7becmb</title>
    	<link rel="sortcut icon" href='/static/images/iconbandeira.ico'/>
		<meta charset="utf-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<link rel="stylesheet" href="/static/assets/css/main.css"/>

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>




		<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.6.1/css/ol.css" type="text/css">

		<script src="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.6.1/build/ol.js"></script>

	</head>
	<body class="is-preload">

		<!-- Header --
     
			<header id="header">
				<a class="logo" href="/"> <strong> </strong>  </a>
    <!-- logo com graduação--
				<nav>       
					<a href="#menu">Menu</a>
				</nav>
			</header>




     
		<!-- Nav 
			<nav id="menu">
				<ul class="links">
					<li><a href="/home">Home</a></li>
					<li><a href="/perfil">Perfil</a></li>
					<li><a href="http://10.46.196.3/sped/administracao/sessao/eb/logon.jsp"  target="_blank" target="_blank">Sped</a></li>
          <li><a href="/logout">Sair</a></li>
				</ul>
			</nav>

		-->