<!DOCTYPE HTML>
<!--
	Industrious by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->

<html>
	<head>
		<title>7becmb</title>
    	<link rel="sortcut icon" href='/static/images/iconbandeira.ico'/>
		<meta charset="utf-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<link rel="stylesheet" href="assets/css/main.css"/>

		<style>
              	.card{

                      -webkit-box-shadow: 9px 7px 5px rgba(50, 50, 50, 0.77);
                      -moz-box-shadow:    9px 7px 5px rgba(50, 50, 50, 0.77);
                      box-shadow:         9px 7px 5px rgba(50, 50, 50, 0.77);
	                  }
        </style>


	</head>
	<body class="is-preload">

		<!-- Header --
   
			<header id="header">
				<a class="logo" href="/"> <strong>Bem Vindo </strong> </a>
    <!-- logo com graduação--
				<nav> 

					<a href="#menu">Menu</a>
				</nav>

		<!-- Nav --
			<nav id="menu">
				<ul class="links">
					<li><a href="/login">Login</a></li>
					<li><a href="http://10.46.196.3/sped/administracao/sessao/eb/logon.jsp"  target="_blank" target="_blank">Sped</a></li>
         			<li><a href="/impressora">Imprimir</a></li>
					<li><a href="/logout/">Sair</a></li>
				</ul>
			</nav>

		<!-- Banner --
			<section id="banner">
				<div class="inner">
					<h1>Sistema de Informacão</h1>
					<p><strong>7º Batalhão de Engenharia de Combate</strong><br />
					<a href="https://templated.co/"></a><small>BATALHÃO VISCONDE DE TAUNAY</small></p>
				</div>
				<video autoplay loop muted playsinline src="/static/images/banner.mp4"></video>
			</section>


		<!-- card -->
		<!-- alinhar no meio--
		
		<!--alinhar no meio--







		<section class="wrapper">
			<div class="inner">

		
				<div class="highlights">



		  <section>
			<div class="content">
			  <header>
				  <a href="/faq">
					<svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
					width="96" height="96"
					viewBox="0 0 172 172"
					style=" fill:#000000;"><g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal"><path d="M0,172v-172h172v172z" fill="none"></path><g fill="#20341e"><path d="M65.49206,34.761c-11.56357,0.00001 -20.93769,9.37413 -20.9377,20.9377v28.224c-0.00487,6.06843 2.6302,11.83885 7.21938,15.8094l-5.72669,11.11612c-1.76703,3.42992 1.90951,7.10636 5.33957,5.33957l21.9921,-11.32739h73.98827c5.55302,0.00001 10.87861,-2.20592 14.80519,-6.1325c3.92658,-3.92658 6.13251,-9.25217 6.1325,-14.80519v-28.224c-0.00001,-11.56357 -9.37413,-20.93769 -20.9377,-20.9377zM137.28427,49.14792c5.31332,0 9.87516,1.9168 13.68617,5.75096c3.81101,3.83417 5.71667,8.50805 5.71684,14.02145c0,4.71045 -1.41937,8.8207 -4.25761,12.33127c-0.39033,0.46833 -0.40584,1.14408 -0.0374,1.62982l1.71118,2.21181c0.77914,1.00712 0.91741,2.36978 0.35645,3.51288c-0.56095,1.1431 -1.72339,1.86746 -2.99671,1.86737c-1.03059,-0.00003 -2.00337,-0.47613 -2.63567,-1.28995l-1.64753,-2.11995c-0.36623,-0.47886 -1.01571,-0.63945 -1.5629,-0.38646c-2.5786,1.20835 -5.39676,1.81886 -8.24425,1.78598c-5.62263,0 -10.29372,-1.9382 -14.01358,-5.8146c-4.26795,-4.34157 -6.28932,-10.41221 -5.476,-16.44571c0.81332,-6.0335 4.36998,-11.35222 9.6352,-14.40871c2.95786,-1.74474 6.33174,-2.65893 9.76581,-2.64616zM59.43273,50.08881h11.89297c0.90776,0.00007 1.77831,0.36075 2.42013,1.0027c0.64182,0.64194 1.00234,1.51256 1.00223,2.42032v0.1017c0.0001,0.90776 -0.36041,1.77838 -1.00223,2.42032c-0.64182,0.64194 -1.51237,1.00263 -2.42013,1.0027h-6.70628c-0.75838,0.00015 -1.37313,0.6149 -1.37328,1.37328v4.047c-0.0001,0.36431 0.14453,0.71373 0.40207,0.9714c0.25754,0.25767 0.6069,0.40246 0.9712,0.40253h6.70628c1.8903,0 3.42269,1.53239 3.42269,3.42269c0,1.8903 -1.53239,3.42269 -3.42269,3.42269h-6.70628c-0.75838,0.00015 -1.37313,0.6149 -1.37328,1.37328v11.93497c0.00002,0.93813 -0.37264,1.83783 -1.036,2.50119c-0.66336,0.66336 -1.56306,1.03602 -2.50119,1.036c-1.95329,-0.00033 -3.53657,-1.58389 -3.53653,-3.53719v-30.63461c-0.00006,-1.80075 1.45955,-3.26065 3.2603,-3.26096zM96.10109,50.08946c2.18304,-0.00598 4.14317,1.33628 4.92687,3.37381l11.2959,29.36894c0.40804,1.06114 0.26724,2.25517 -0.37643,3.19229c-0.64367,0.93712 -1.70762,1.49707 -2.8445,1.49706c-1.43323,0.0001 -2.71732,-0.88573 -3.22618,-2.22559l-1.56093,-4.10999c-0.31435,-0.82752 -1.10745,-1.37462 -1.99266,-1.37459h-12.35357c-0.87505,-0.00017 -1.66131,0.5345 -1.98282,1.34835l-1.65016,4.17888c-0.52046,1.31748 -1.79322,2.18307 -3.20978,2.18294h-0.02887c-1.13733,-0.00009 -2.20158,-0.56057 -2.84508,-1.49835c-0.6435,-0.93778 -0.7836,-2.13241 -0.37454,-3.19363l11.32674,-29.37091c0.78113,-2.02521 2.72541,-3.36317 4.89603,-3.36921zM137.28427,56.11993c-3.49857,0 -6.42852,1.20497 -8.78883,3.61395c-2.36032,2.40898 -3.54027,5.47055 -3.54047,9.18579c0,4.13935 1.48712,7.41391 4.46101,9.82289c2.22639,1.84696 5.03401,2.84744 7.92668,2.82463c0.99732,0.0031 1.99114,-0.11813 2.95848,-0.36087c0.4285,-0.10782 0.77376,-0.42443 0.9182,-0.84201c0.14444,-0.41759 0.0686,-0.87985 -0.20171,-1.22939l-1.39952,-1.80041c-0.78224,-1.00642 -0.92298,-2.3705 -0.36272,-3.51544c0.56027,-1.14494 1.72371,-1.87082 2.99838,-1.87072h0.04068c1.03311,-0.00015 2.00805,0.47811 2.64026,1.29519l1.16791,1.50975c0.27693,0.35815 0.71953,0.54742 1.16979,0.50024c0.45026,-0.04718 0.84402,-0.32408 1.0407,-0.73185c0.8358,-1.76686 1.26279,-3.69933 1.24927,-5.65386c0.06882,-3.37205 -1.22647,-6.6291 -3.5923,-9.03291c-2.23995,-2.41048 -5.39557,-3.76017 -8.68582,-3.715zM96.15883,61.84465c-0.42994,-0.00002 -0.81591,0.26355 -0.97238,0.664l-3.4906,8.93187c-0.12553,0.32127 -0.08426,0.6838 0.11027,0.96863c0.19453,0.28483 0.51719,0.45519 0.86211,0.45516h6.96021c0.34452,-0.00003 0.66684,-0.17004 0.86141,-0.45435c0.19457,-0.28432 0.23634,-0.64632 0.11162,-0.96748l-3.4696,-8.93187c-0.15592,-0.40145 -0.54237,-0.66594 -0.97304,-0.66597zM26.65913,85.47051c-8.79724,0 -15.92882,7.13157 -15.92882,15.92882c0,8.79724 7.13157,15.92882 15.92882,15.92882c8.79724,0 15.92882,-7.13157 15.92882,-15.92882c0,-8.79724 -7.13157,-15.92882 -15.92882,-15.92882zM12.45593,119.7171c-4.85355,0 -8.76062,3.90773 -8.76062,8.76128c0,4.85355 3.90707,8.76062 8.76062,8.76062h28.40706c4.85355,0 8.76062,-3.90707 8.76062,-8.76062c0,-4.85354 -3.90707,-8.76128 -8.76062,-8.76128z"></path></g></g></svg>
				</a>
		<h4>Duvidas frequentes</h4>
	  </header>
	  <p>Veja as principais duvida reportadas</p>
		
	</div>
  </section>







			</div>
			</div>
		</section>



 <!--


		<!-- Scripts --


			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/browser.min.js"></script>
			<script src="assets/js/breakpoints.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>


		  para usar o bootstrap

			<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
			<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
			<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" />
-->
		  <!--para usar o bootstrap 
		

	</body>
</html> 	
-->





<!DOCTYPE HTML>
<!--
	Industrious by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
--

<html>
	<head>
		<title>7becmb</title>
    	<link rel="sortcut icon" href='/static/images/iconbandeira.ico'/>
		<meta charset="utf-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<link rel="stylesheet" href="assets/css/main.css"/>

	</head>
	<body class="is-preload">

		<!-- Header -->
     
			<header id="header">
				<a class="logo" href="/"> <strong>Bem Vindo </strong>
				</a>
    <!-- logo com graduação-->
				<nav> 
					<a href="#menu">Menu</a>
				</nav>
			</header>


		<!-- Nav -->
		<nav id="menu">
			<ul class="links">
				<li><a href="/login">Login</a></li>
				<li><a href="http://10.46.196.3/sped/administracao/sessao/eb/logon.jsp"  target="_blank" target="_blank">Sped</a></li>
				 <li><a href="/impressora">Imprimir</a></li>
				<li><a href="/logout/">Sair</a></li>
			</ul>
		</nav>

		<!-- Banner -->
			<section id="banner">
				<div class="inner">
					<h1>Sistema de Informacão</h1>
					<p><strong>7º Batalhão de Engenharia de Combate</strong><br />
					<a href="https://templated.co/"></a><small>BATALHÃO VISCONDE DE TAUNAY</small></p>
				</div>
				<video autoplay loop muted playsinline src="/static/images/banner.mp4"></video>
			</section>


		<!-- Highlights  padrao de coor icons #20341e-->
      <section class="wrapper">
				<div class="inner">
					<header class="special">
					
						
					</header>
					<div class="highlights">
	

		  <section>
			<div class="content">
			  <header>
				  <a href="/faq">
					<svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
					width="96" height="96"
					viewBox="0 0 172 172"
					style=" fill:#000000;"><g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal"><path d="M0,172v-172h172v172z" fill="none"></path><g fill="#20341e"><path d="M65.49206,34.761c-11.56357,0.00001 -20.93769,9.37413 -20.9377,20.9377v28.224c-0.00487,6.06843 2.6302,11.83885 7.21938,15.8094l-5.72669,11.11612c-1.76703,3.42992 1.90951,7.10636 5.33957,5.33957l21.9921,-11.32739h73.98827c5.55302,0.00001 10.87861,-2.20592 14.80519,-6.1325c3.92658,-3.92658 6.13251,-9.25217 6.1325,-14.80519v-28.224c-0.00001,-11.56357 -9.37413,-20.93769 -20.9377,-20.9377zM137.28427,49.14792c5.31332,0 9.87516,1.9168 13.68617,5.75096c3.81101,3.83417 5.71667,8.50805 5.71684,14.02145c0,4.71045 -1.41937,8.8207 -4.25761,12.33127c-0.39033,0.46833 -0.40584,1.14408 -0.0374,1.62982l1.71118,2.21181c0.77914,1.00712 0.91741,2.36978 0.35645,3.51288c-0.56095,1.1431 -1.72339,1.86746 -2.99671,1.86737c-1.03059,-0.00003 -2.00337,-0.47613 -2.63567,-1.28995l-1.64753,-2.11995c-0.36623,-0.47886 -1.01571,-0.63945 -1.5629,-0.38646c-2.5786,1.20835 -5.39676,1.81886 -8.24425,1.78598c-5.62263,0 -10.29372,-1.9382 -14.01358,-5.8146c-4.26795,-4.34157 -6.28932,-10.41221 -5.476,-16.44571c0.81332,-6.0335 4.36998,-11.35222 9.6352,-14.40871c2.95786,-1.74474 6.33174,-2.65893 9.76581,-2.64616zM59.43273,50.08881h11.89297c0.90776,0.00007 1.77831,0.36075 2.42013,1.0027c0.64182,0.64194 1.00234,1.51256 1.00223,2.42032v0.1017c0.0001,0.90776 -0.36041,1.77838 -1.00223,2.42032c-0.64182,0.64194 -1.51237,1.00263 -2.42013,1.0027h-6.70628c-0.75838,0.00015 -1.37313,0.6149 -1.37328,1.37328v4.047c-0.0001,0.36431 0.14453,0.71373 0.40207,0.9714c0.25754,0.25767 0.6069,0.40246 0.9712,0.40253h6.70628c1.8903,0 3.42269,1.53239 3.42269,3.42269c0,1.8903 -1.53239,3.42269 -3.42269,3.42269h-6.70628c-0.75838,0.00015 -1.37313,0.6149 -1.37328,1.37328v11.93497c0.00002,0.93813 -0.37264,1.83783 -1.036,2.50119c-0.66336,0.66336 -1.56306,1.03602 -2.50119,1.036c-1.95329,-0.00033 -3.53657,-1.58389 -3.53653,-3.53719v-30.63461c-0.00006,-1.80075 1.45955,-3.26065 3.2603,-3.26096zM96.10109,50.08946c2.18304,-0.00598 4.14317,1.33628 4.92687,3.37381l11.2959,29.36894c0.40804,1.06114 0.26724,2.25517 -0.37643,3.19229c-0.64367,0.93712 -1.70762,1.49707 -2.8445,1.49706c-1.43323,0.0001 -2.71732,-0.88573 -3.22618,-2.22559l-1.56093,-4.10999c-0.31435,-0.82752 -1.10745,-1.37462 -1.99266,-1.37459h-12.35357c-0.87505,-0.00017 -1.66131,0.5345 -1.98282,1.34835l-1.65016,4.17888c-0.52046,1.31748 -1.79322,2.18307 -3.20978,2.18294h-0.02887c-1.13733,-0.00009 -2.20158,-0.56057 -2.84508,-1.49835c-0.6435,-0.93778 -0.7836,-2.13241 -0.37454,-3.19363l11.32674,-29.37091c0.78113,-2.02521 2.72541,-3.36317 4.89603,-3.36921zM137.28427,56.11993c-3.49857,0 -6.42852,1.20497 -8.78883,3.61395c-2.36032,2.40898 -3.54027,5.47055 -3.54047,9.18579c0,4.13935 1.48712,7.41391 4.46101,9.82289c2.22639,1.84696 5.03401,2.84744 7.92668,2.82463c0.99732,0.0031 1.99114,-0.11813 2.95848,-0.36087c0.4285,-0.10782 0.77376,-0.42443 0.9182,-0.84201c0.14444,-0.41759 0.0686,-0.87985 -0.20171,-1.22939l-1.39952,-1.80041c-0.78224,-1.00642 -0.92298,-2.3705 -0.36272,-3.51544c0.56027,-1.14494 1.72371,-1.87082 2.99838,-1.87072h0.04068c1.03311,-0.00015 2.00805,0.47811 2.64026,1.29519l1.16791,1.50975c0.27693,0.35815 0.71953,0.54742 1.16979,0.50024c0.45026,-0.04718 0.84402,-0.32408 1.0407,-0.73185c0.8358,-1.76686 1.26279,-3.69933 1.24927,-5.65386c0.06882,-3.37205 -1.22647,-6.6291 -3.5923,-9.03291c-2.23995,-2.41048 -5.39557,-3.76017 -8.68582,-3.715zM96.15883,61.84465c-0.42994,-0.00002 -0.81591,0.26355 -0.97238,0.664l-3.4906,8.93187c-0.12553,0.32127 -0.08426,0.6838 0.11027,0.96863c0.19453,0.28483 0.51719,0.45519 0.86211,0.45516h6.96021c0.34452,-0.00003 0.66684,-0.17004 0.86141,-0.45435c0.19457,-0.28432 0.23634,-0.64632 0.11162,-0.96748l-3.4696,-8.93187c-0.15592,-0.40145 -0.54237,-0.66594 -0.97304,-0.66597zM26.65913,85.47051c-8.79724,0 -15.92882,7.13157 -15.92882,15.92882c0,8.79724 7.13157,15.92882 15.92882,15.92882c8.79724,0 15.92882,-7.13157 15.92882,-15.92882c0,-8.79724 -7.13157,-15.92882 -15.92882,-15.92882zM12.45593,119.7171c-4.85355,0 -8.76062,3.90773 -8.76062,8.76128c0,4.85355 3.90707,8.76062 8.76062,8.76062h28.40706c4.85355,0 8.76062,-3.90707 8.76062,-8.76062c0,-4.85354 -3.90707,-8.76128 -8.76062,-8.76128z"></path></g></g></svg>
				</a>
		<h4>Duvidas frequentes</h4>
	  </header>
	  <p>Veja as principais duvida reportadas</p>
		
	</div>
  </section>

			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/browser.min.js"></script>
			<script src="assets/js/breakpoints.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>

	</body>
</html>