<!DOCTYPE HTML>
<!--
	Industrious by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->

<html>
	<head>
		<title>7becmb</title>
    	<link rel="sortcut icon" href='/static/images/iconbandeira.ico'/>
		<meta charset="utf-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
	 
		<link rel="stylesheet" href="assets/css/main.css"/>

	</head>
	<body class="is-preload">

		<!-- Header -->
     
			<header id="header">
				<a class="logo" href="/"> <strong>Bem Vindo </strong><%- user.nomeGuerra %>
				</a>
    <!-- logo com graduação-->
				<nav> 
					<a href="#menu">Menu</a>
				</nav>
			</header>


		<!-- Nav -->
			<nav id="menu">
				<ul class="links">
					<li><a href="/home">Home</a></li>
					<li><a href="/perfil">Perfil</a></li>
					<li><a href="http://10.46.196.3/sped/administracao/sessao/eb/logon.jsp"  target="_blank" target="_blank">Sped</a></li>
          <li><a href="/logout/">Sair</a></li>
				</ul>
			</nav>

		<!-- Banner -->
			<section id="banner">
				<div class="inner">
					<h1>Sistema de Informacão</h1>
					<p><strong>7º Batalhão de Engenharia de Combate</strong><br />
					<a href="https://templated.co/"></a><small>BATALHÃO VISCONDE DE TAUNAY</small></p>
				</div>
				<video autoplay loop muted playsinline src="/static/images/banner.mp4"></video>
			</section>


		<!-- Highlights  padrao de coor icons #20341e-->
      <section class="wrapper">
				<div class="inner">
					<header class="special">
						<h2>Sistema de Informação</h2>
						<p></p>
					</header>
					<div class="highlights">

				

			  <section>
                <div class="content">
                  <header>
					      <a href="/selo"><img src="/images/iconesSelo/carteira-de-motorista-100.png"/></a>	
									<h3>Selo</h3>
                  </header>

                  <h4>HabilitaÇão<br>
                  <small>Gerar Selo</small></h4>
                </div>
              </section>



			  <section>
				<div class="content">
				<header>
				
					<a href="/editar/<%- user.id %>"><svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
					width="96" height="96"
					viewBox="0 0 172 172"
					style=" fill:#000000;"><g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal"><path d="M0,172v-172h172v172z" fill="none"></path><g fill="#20341e"><path d="M14.33333,43v86c0,7.88333 6.45,14.33333 14.33333,14.33333h114.66667c7.88333,0 14.33333,-6.45 14.33333,-14.33333v-86c0,-7.88333 -6.45,-14.33333 -14.33333,-14.33333h-114.66667c-7.91917,0 -14.33333,6.41417 -14.33333,14.33333zM64.5,57.33333c7.91917,0 14.33333,6.41417 14.33333,14.33333c0,7.91917 -6.41417,14.33333 -14.33333,14.33333c-7.91917,0 -14.33333,-6.41417 -14.33333,-14.33333c0,-7.91917 6.41417,-14.33333 14.33333,-14.33333zM43,108.21667c0,-7.15233 14.32617,-10.75 21.5,-10.75c7.17383,0 21.5,3.59767 21.5,10.75v6.45h-43zM129,78.83333h-28.66667v-14.33333h28.66667zM129,107.5h-28.66667v-14.33333h28.66667zM143.33333,129h-114.66667v-86h114.66667z"></path></g></g></svg><span class="label"></span></a>
					<h3>Meus Dados</h3>
				</header>

				<h4><br>
				<small>Mantenha seus dados sempre Atualizados.</small></h4>
				</div>
			</section>





						<% try{ %>
			
						


			  
			  <%  if(user.permissoes.admin === 'sim'){ %>
			  <section>
                <div class="content">
                  <header>
                  <a href="/admin">
					<svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
					width="96" height="96"
					viewBox="0 0 172 172"
					style=" fill:#000000;"><g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal"><path d="M0,172v-172h172v172z" fill="none"></path><g fill="#20341e"><path d="M86,21.5c-17.7627,0 -32.25,14.4873 -32.25,32.25c0,17.7627 14.4873,32.25 32.25,32.25c17.7627,0 32.25,-14.4873 32.25,-32.25c0,-17.7627 -14.4873,-32.25 -32.25,-32.25zM86,86c-29.64648,0 -53.75,24.10352 -53.75,53.75h10.75c0,-23.72558 19.27442,-43 43,-43c5.24902,0 10.24609,1.0918 14.90723,2.81348c2.93945,-2.85547 6.29882,-5.16504 9.91016,-7.18067c-7.47461,-3.94726 -15.83105,-6.38281 -24.81739,-6.38281zM86,32.25c11.92578,0 21.5,9.57422 21.5,21.5c0,11.92578 -9.57422,21.5 -21.5,21.5c-11.92578,0 -21.5,-9.57422 -21.5,-21.5c0,-11.92578 9.57422,-21.5 21.5,-21.5zM129,96.75v11.3379c-3.40136,0.71386 -6.55078,2.0996 -9.36426,3.94726l-8.0625,-8.0625l-7.60058,7.60058l8.0625,8.0625c-1.88965,2.81348 -3.27539,5.9629 -3.98926,9.36426h-11.2959v10.75h11.2959c0.71388,3.44336 2.1416,6.55078 3.98926,9.36426l-8.0625,8.0625l7.60058,7.60058l8.0625,-8.0625c2.81348,1.84766 5.9629,3.2334 9.36426,3.94727v11.33789h10.75v-11.2959c3.44336,-0.71386 6.59277,-2.05761 9.40625,-3.94727l8.02051,8.02051l7.60058,-7.60058l-8.02051,-8.02051c1.88966,-2.81348 3.23341,-6.00489 3.94727,-9.40625h11.2959v-10.75h-11.2959c-0.71386,-3.44335 -2.05761,-6.59277 -3.94727,-9.40625l8.02051,-8.02051l-7.60058,-7.60058l-8.02051,8.02051c-2.81348,-1.88965 -6.00489,-3.2334 -9.40625,-3.94727v-11.2959zM134.375,118.25c8.98633,0 16.125,7.13868 16.125,16.125c0,8.98633 -7.13867,16.125 -16.125,16.125c-8.98632,0 -16.125,-7.13867 -16.125,-16.125c0,-8.98632 7.13868,-16.125 16.125,-16.125z"></path></g></g></svg>
                    </a>
					<h3>Sti</h3>
                  </header>

                  <h4>Infomaçõe<br>
                  <small>Sti</small></h4>
                </div>
              </section>
			  <% }else{ %> 
				
				<% } %>



				<%  if(user.permissoes.admin === 'sim'){ %>
						<section>
							<div class="content">
								<header>
									<a href="meus/contratos" >
									<svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
										width="96" height="96"
										viewBox="0 0 172 172"
										style=" fill:#000000;"><g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal"><path d="M0,172v-172h172v172z" fill="none"></path><g fill="#20341e"><path d="M45.01563,12.09375c-9.675,0 -17.46875,7.79375 -17.46875,17.46875v107.5c0,9.675 7.79375,17.46875 17.46875,17.46875h43.67188c2.28437,0 4.03125,-1.74687 4.03125,-4.03125c0,-2.28438 -1.74688,-4.03125 -4.03125,-4.03125h-43.67187c-5.24063,0 -9.40625,-4.16563 -9.40625,-9.40625v-107.5c0,-5.24062 4.16562,-9.40625 9.40625,-9.40625h81.96875c5.24062,0 9.40625,4.16563 9.40625,9.40625v107.5c0,5.24062 -4.16563,9.40625 -9.40625,9.40625h-4.03125c-2.28437,0 -4.03125,1.74687 -4.03125,4.03125c0,2.28438 1.74688,4.03125 4.03125,4.03125h4.03125c9.675,0 17.46875,-7.79375 17.46875,-17.46875v-107.5c0,-9.675 -7.79375,-17.46875 -17.46875,-17.46875zM50.39063,41.65625c-2.28438,0 -4.03125,1.74687 -4.03125,4.03125c0,2.28438 1.74687,4.03125 4.03125,4.03125h68.53125c2.28437,0 4.03125,-1.74687 4.03125,-4.03125c0,-2.28438 -1.74688,-4.03125 -4.03125,-4.03125zM50.39063,61.8125c-2.28438,0 -4.03125,1.74687 -4.03125,4.03125c0,2.28437 1.74687,4.03125 4.03125,4.03125h68.53125c2.28437,0 4.03125,-1.74688 4.03125,-4.03125c0,-2.28438 -1.74688,-4.03125 -4.03125,-4.03125zM50.39063,81.96875c-2.28438,0 -4.03125,1.74688 -4.03125,4.03125c0,2.28437 1.74687,4.03125 4.03125,4.03125h31.57813c2.28437,0 4.03125,-1.74688 4.03125,-4.03125c0,-2.28437 -1.74688,-4.03125 -4.03125,-4.03125zM106.0224,113.54688c-9.54062,0 -17.3349,8.06355 -17.3349,17.87292c0,6.31562 3.225,11.9578 8.0625,15.1828v13.97552l9.40625,-3.8974l9.13855,3.8974v-13.97552c4.8375,-3.225 8.0625,-8.7328 8.0625,-15.1828c0,-9.80937 -7.79427,-17.87292 -17.3349,-17.87292zM106.15625,121.60938c5.10625,0 9.2724,4.43542 9.2724,9.81042c0,5.375 -4.16615,9.8078 -9.2724,9.8078c-5.10625,0 -9.2724,-4.4328 -9.2724,-9.8078c0,-5.375 4.16615,-9.81042 9.2724,-9.81042z"></path></g></g></svg>
										</a>
									<h3>Contratos</h3>
				  
								</header>
								<p>confira os contratos</p>
				   
							</div>
						</section>
     
						<% }else{ %> 
				
							<% } %>
            
  
							<%  if(user.permissoes.admin === 'sim'){ %>
						<section>
							<div class="content">
								<header>
									<a href="{% url 'siscom:registros' %}"><svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
                  width="96" height="96"
                  viewBox="0 0 172 172"
                  style=" fill:#000000;"><g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal"><path d="M0,172v-172h172v172z" fill="none"></path><g fill="#20341e"><path d="M14.33333,28.66667v28.66667h143.33333v-28.66667zM35.83333,35.83333c3.956,0 7.16667,3.21067 7.16667,7.16667c0,3.956 -3.21067,7.16667 -7.16667,7.16667c-3.956,0 -7.16667,-3.21067 -7.16667,-7.16667c0,-3.956 3.21067,-7.16667 7.16667,-7.16667zM14.33333,71.66667v28.66667h143.33333v-28.66667zM35.83333,78.83333c3.956,0 7.16667,3.21067 7.16667,7.16667c0,3.956 -3.21067,7.16667 -7.16667,7.16667c-3.956,0 -7.16667,-3.21067 -7.16667,-7.16667c0,-3.956 3.21067,-7.16667 7.16667,-7.16667zM14.33333,114.66667v28.66667h143.33333v-28.66667zM35.83333,121.83333c3.956,0 7.16667,3.21067 7.16667,7.16667c0,3.956 -3.21067,7.16667 -7.16667,7.16667c-3.956,0 -7.16667,-3.21067 -7.16667,-7.16667c0,-3.956 3.21067,-7.16667 7.16667,-7.16667z"></path></g></g></svg><span class="label">
                  </span></a>
									<h3>Registros</h3>
								</header>
                  <h4>Confira relatorios de serviços anteriores.</h4>
							</div>
						</section>
          
						<% }else{ %> 
				
							<% } %>
          <!--  
						<section>
							<div class="content">
								<header>
									<a href="#"><svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
                  width="96" height="96"
                  viewBox="0 0 172 172"
                  style=" fill:#000000;"><g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal"><path d="M0,172v-172h172v172z" fill="none"></path><g fill="#20341e"><path d="M43,14.33333v14.33333h100.33333v71.66667h14.33333v-71.66667c0,-7.91917 -6.41417,-14.33333 -14.33333,-14.33333zM28.66667,43c-7.88333,0 -14.26335,6.45 -14.26335,14.33333l-0.06999,107.5l28.66667,-28.66667h71.66667c7.88333,0 14.33333,-6.45 14.33333,-14.33333v-64.5c0,-7.88333 -6.45,-14.33333 -14.33333,-14.33333zM28.66667,57.33333h86v64.5h-71.66667h-5.9349l-4.19922,4.19922l-4.19922,4.19922z"></path></g></g></svg><span class="label"></span></a>
									<h3>Chat</h3>
								</header>
								<p>Comunique-se com outros militares de 
                    forma segura, rapida, e simples.</p>
							</div>
						</section>
            -->
           
			<%  if(user.permissoes.admin === 'sim'){ %>
						<section>
							<div class="content">
								<header>
									<a href="{% url 'missoes:missoes' %}" ><svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
                  width="100" height="100"
                  viewBox="0 0 172 172"
                  style=" fill:#000000;"><g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal"><path d="M0,172v-172h172v172z" fill="none"></path><g fill="#1c2d1c"><path d="M45.0425,16.4475l-17.845,22.6825l-6.5575,-5.805l-9.1375,10.32l12.04,10.75l5.4825,4.8375l4.515,-5.805l22.36,-28.595zM65.36,30.96v13.76h92.88v-13.76zM45.0425,64.6075l-17.845,22.6825l-6.5575,-5.805l-9.1375,10.32l12.04,10.75l5.4825,4.8375l4.515,-5.805l22.36,-28.595zM65.36,79.12v13.76h92.88v-13.76zM45.0425,112.7675l-17.845,22.6825l-6.5575,-5.805l-9.1375,10.32l12.04,10.75l5.4825,4.8375l4.515,-5.805l22.36,-28.595zM65.36,127.28v13.76h92.88v-13.76z"></path></g></g></svg><span class="label"></span></a>
									<h3>Missões</h3>
								</header>
								<p>Missões destinadas a sessão ou militar.</p>
							</div>
						</section>
         

						<% }else{ %> 
				
							<% } %>
            

						<%  if(user.permissoes.admin === 'sim'){ %>
						<section>
							<div class="content">
								<header>
									<a href="/material"><svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
                  width="100" height="100"
                  viewBox="0 0 172 172"
                  style=" fill:#000000;"><g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal"><path d="M0,172v-172h172v172z" fill="none"></path><g fill="#1a261a"><path d="M27.17734,13.76v145.51469h91.84531c-4.128,-1.72 -7.90931,-4.128 -11.00531,-6.88h-73.96v-131.75469h104.57734v66.73735c2.408,0.344 4.816,1.032 6.88,1.72v-75.33735zM48.84531,40.93735v6.88h74.30937v-6.88zM48.84531,84.28v6.88h12.38937v-6.88zM70.52,84.62265v6.88h45.06265c2.408,-1.376 4.82003,-2.40934 7.57203,-3.09734v-3.78266zM133.12531,92.88c-17.43797,0 -31.64531,14.20735 -31.64531,31.64531c0,17.43796 14.20734,31.65203 31.64531,31.65203c17.43797,0 31.65203,-14.21407 31.65203,-31.65203c0,-17.43796 -14.21406,-31.64531 -31.65203,-31.64531zM133.12531,99.76c13.71975,0 24.77203,11.04558 24.77203,24.76531c0,13.71973 -11.05229,24.77203 -24.77203,24.77203c-13.71975,0 -24.76531,-11.0523 -24.76531,-24.77203c0,-13.71974 11.04557,-24.76531 24.76531,-24.76531zM48.84531,102.85735v6.88h12.38937v-6.88zM70.52,102.85735v6.88h28.20531c1.032,-2.408 2.06937,-4.816 3.78937,-6.88zM133.07828,105.21563c-1.89985,0.02599 -3.41893,1.58718 -3.39297,3.48703v12.38266h-12.04c-1.24059,-0.01754 -2.39452,0.63425 -3.01993,1.7058c-0.62541,1.07155 -0.62541,2.39684 0,3.46839c0.62541,1.07155 1.77935,1.72335 3.01993,1.7058h12.04v12.04c-0.01754,1.24059 0.63425,2.39452 1.7058,3.01993c1.07155,0.62541 2.39684,0.62541 3.46839,0c1.07155,-0.62541 1.72335,-1.77935 1.7058,-3.01993v-12.04h12.38937c1.24059,0.01754 2.39452,-0.63425 3.01993,-1.7058c0.62541,-1.07155 0.62541,-2.39684 0,-3.46839c-0.62541,-1.07155 -1.77935,-1.72335 -3.01993,-1.7058h-12.38937v-12.38266c0.01269,-0.92865 -0.35062,-1.82298 -1.00733,-2.4797c-0.65672,-0.65672 -1.55105,-1.02002 -2.4797,-1.00733zM48.84531,121.43469v6.88h12.38937v-6.88zM70.52,121.43469v6.88h25.11469v-3.78937v-3.09063z"></path></g></g></svg><span class="label"></span></a>
									<h3>Material</h3>
                  
								</header>
								<p>Tenha controle do materia</p>
                   
							</div>
						</section>
    
						<% }else{ %> 
				
							<% } %>



							<%  if(user.permissoes.admin === 'sim'){ %>	
              <section>
							<div class="content">
								<header>
									<a href="{% url 'viaturas:viaturast' %}"><svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
                  width="100" height="100"
                  viewBox="0 0 172 172"
                  style=" fill:#000000;"><g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal"><path d="M0,172v-172h172v172z" fill="none"></path><g fill="#20341e"><path d="M82.07625,6.88c-3.81625,0 -6.39625,3.37281 -6.39625,6.88v13.73313h-27.29156c-7.68625,0 -13.98844,6.30219 -13.98844,13.98844v109.60969c0,7.68625 6.31563,13.98844 13.98844,13.98844h82.06281c7.68625,0 13.98844,-6.30219 13.98844,-13.98844v-109.60969c0.01344,-7.68625 -6.30219,-13.98844 -13.98844,-13.98844h-27.25125v-13.73313c0,-3.50719 -2.58,-6.88 -6.39625,-6.88zM82.56,13.76h13.76v27.52h-13.76zM48.38844,34.37313h27.29156v6.90687c0,3.50719 2.58,6.88 6.39625,6.88h14.7275c3.81625,0 6.39625,-3.37281 6.39625,-6.88v-6.90687h27.25125c3.9775,0 7.12188,3.14437 7.10844,7.10844v109.60969c0,3.96406 -3.13094,7.10844 -7.10844,7.10844h-82.06281c-3.96406,0 -7.10844,-3.13094 -7.10844,-7.10844v-109.60969c0,-3.96406 3.14438,-7.10844 7.10844,-7.10844zM79.12,58.48c-2.24406,0 -4.31344,0.48375 -6.07375,1.3975c-1.76031,0.91375 -3.35937,2.2575 -4.07156,4.4075l-3.61469,10.84406v0.55094h-3.44v6.88h3.44v18.34219c0,1.26313 0.76594,2.29781 1.72,2.29781h6.88c0.95406,0 1.72,-1.03469 1.72,-2.29781v-2.28437h27.52v2.28437c0,1.26313 0.76594,2.29781 1.72,2.29781h6.88c0.95406,0 1.72,-1.03469 1.72,-2.29781v-18.34219h3.44v-6.88h-3.44v-0.55094l-3.61469,-10.84406c-0.71219,-2.15 -2.31125,-3.49375 -4.07156,-4.4075c-1.76031,-0.91375 -3.82969,-1.3975 -6.07375,-1.3975zM79.12,65.36h20.64c1.19594,0 2.2575,0.29563 2.91594,0.63156c0.61813,0.3225 0.76594,0.645 0.69875,0.47031l3.07719,9.21812h-34.02375l3.07719,-9.21812c-0.06719,0.17469 0.08062,-0.14781 0.69875,-0.47031c0.65844,-0.33594 1.72,-0.63156 2.91594,-0.63156zM75.68,82.56c1.89469,0 3.44,1.54531 3.44,3.44c0,1.89469 -1.54531,3.44 -3.44,3.44c-1.89469,0 -3.44,-1.54531 -3.44,-3.44c0,-1.89469 1.54531,-3.44 3.44,-3.44zM103.2,82.56c1.89469,0 3.44,1.54531 3.44,3.44c0,1.89469 -1.54531,3.44 -3.44,3.44c-1.89469,0 -3.44,-1.54531 -3.44,-3.44c0,-1.89469 1.54531,-3.44 3.44,-3.44zM58.48,116.96c-1.23625,-0.01344 -2.39187,0.63156 -3.02344,1.70656c-0.61813,1.075 -0.61813,2.39187 0,3.46687c0.63156,1.075 1.78719,1.72 3.02344,1.70656h61.92c1.23625,0.01344 2.39188,-0.63156 3.02344,-1.70656c0.61813,-1.075 0.61813,-2.39187 0,-3.46687c-0.63156,-1.075 -1.78719,-1.72 -3.02344,-1.70656zM58.48,130.72c-1.23625,-0.01344 -2.39187,0.63156 -3.02344,1.70656c-0.61813,1.075 -0.61813,2.39187 0,3.46687c0.63156,1.075 1.78719,1.72 3.02344,1.70656h61.92c1.23625,0.01344 2.39188,-0.63156 3.02344,-1.70656c0.61813,-1.075 0.61813,-2.39187 0,-3.46687c-0.63156,-1.075 -1.78719,-1.72 -3.02344,-1.70656z"></path></g></g></svg></a>
									<h3>controle de viatura</h3>
                  
								</header>
								<p>Tenha controle da frota.</p>
                   
							</div>
						</section>
           
						<% }else{ %> 
				
							<% } %>


							<%  if(user.permissoes.admin === 'sim'){ %>	

              <section>
                <div class="content">
                  <header>
                    <a href="{% url 'pagtesouro:pagtesouro' %}"><svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
                    width="96" height="96"
                    viewBox="0 0 172 172"
                    style=" fill:#000000;"><g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal"><path d="M0,172v-172h172v172z" fill="none"></path><g><path d="M73.90625,55.09375v1.075c-4.70312,0.26875 -9.27187,2.01563 -13.03438,5.24063l-31.175,27.27813h-21.63437v55.09375h162.59375v-88.6875z" fill="#20341e"></path><path d="M149.15625,77.9375c-11.87412,0 -21.5,9.62588 -21.5,21.5c0,11.87412 9.62588,21.5 21.5,21.5c11.87412,0 21.5,-9.62588 21.5,-21.5c0,-11.87412 -9.62588,-21.5 -21.5,-21.5zM126.17813,76.8625c-1.47812,-3.62812 -4.3,-6.58437 -7.92813,-8.0625l-32.7875,-14.5125c-9.00313,-4.03125 -19.75312,-2.41875 -27.14375,4.16562l-30.1,26.20313v0h-20.15625c-2.28437,0 -4.03125,1.74688 -4.03125,4.03125v55.09375c0,2.28438 1.74688,4.03125 4.03125,4.03125h20.15625h32.25c2.28438,0 4.03125,-1.74687 4.03125,-4.03125c0,-2.28438 -1.74687,-4.03125 -4.03125,-4.03125h-28.21875v-47.8375l31.30937,-27.4125c5.10625,-4.43437 12.3625,-5.50937 18.54375,-2.82187l32.92188,14.64688c1.6125,0.67188 2.95625,2.01563 3.62813,3.62812c0.67188,1.6125 0.67188,3.49375 0,5.10625c-1.47813,3.35938 -5.375,4.97187 -8.86875,3.49375l-24.85937,-10.61563c-1.075,-0.40312 -2.28437,-0.40312 -3.35937,0c-1.075,0.5375 -1.88125,1.34375 -2.15,2.55313l-0.13438,0.94063c-3.62812,12.22812 -13.70625,21.23125 -26.20312,23.38125c-2.15,0.40313 -3.62813,2.41875 -3.225,4.70313c0.40313,2.01563 2.01563,3.35938 4.03125,3.35938c0.26875,0 0.40313,0 0.67188,0c14.37813,-2.55313 26.06875,-12.22812 31.30938,-25.66562l20.82813,8.86875c7.525,3.225 16.25937,-0.26875 19.35,-7.79375c1.6125,-3.62812 1.6125,-7.65937 0.13437,-11.42187zM12.09375,92.71875h12.09375v47.03125h-12.09375z" fill="#ffffff"></path><path d="M166.625,147.8125h-77.9375c-9.675,0 -17.46875,-7.79375 -17.46875,-17.46875v-9.40625c0,-2.28437 1.74688,-4.03125 4.03125,-4.03125c2.28437,0 4.03125,1.74688 4.03125,4.03125v9.40625c0,5.24062 4.16563,9.40625 9.40625,9.40625h77.9375c2.28438,0 4.03125,1.74687 4.03125,4.03125c0,2.28438 -1.74687,4.03125 -4.03125,4.03125zM166.625,59.125h-40.3125c-2.28437,0 -4.03125,-1.74687 -4.03125,-4.03125c0,-2.28438 1.74688,-4.03125 4.03125,-4.03125h40.3125c2.28438,0 4.03125,1.74687 4.03125,4.03125c0,2.28438 -1.74687,4.03125 -4.03125,4.03125z" fill="#ffffff"></path><g fill="#ffffff"><path d="M99.4375,112.875c-4.4528,0 -8.0625,3.6097 -8.0625,8.0625c0,4.4528 3.6097,8.0625 8.0625,8.0625c4.4528,0 8.0625,-3.6097 8.0625,-8.0625c0,-4.4528 -3.6097,-8.0625 -8.0625,-8.0625z"></path></g></g></g></svg></a>
                    <h3>PagTesouro</h3>
                    
                  </header>
                  <p>Facilite o pagamento.</p>
                    
                </div>
              </section>
          			<% }else{ %> 
				
							<% } %>




							<%  if(user.permissoes.admin === 'sim'){ %>	

              <section>
                <div class="content">
                  <header>
                    <a href="/controle-de-pessoal"><svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
                    width="96" height="96"
                    viewBox="0 0 172 172"
                    style=" fill:#000000;"><g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal"><path d="M0,172v-172h172v172z" fill="none"></path><g fill="#20341e"><path d="M58.48,6.88c-11.35469,0 -20.64,9.28531 -20.64,20.64c0,6.82625 3.35938,12.9 8.4925,16.6625c-2.75469,1.38406 -5.2675,3.17125 -7.4175,5.375c-2.49937,-0.88687 -5.16,-1.3975 -7.955,-1.3975c-13.26281,0 -24.08,10.81719 -24.08,24.08c0,8.42531 4.36719,15.91 10.965,20.21c-10.50812,4.97188 -17.845,15.61438 -17.845,27.95v15.48c-0.01344,1.10188 0.51063,2.13656 1.3975,2.795c0,0 2.43219,1.72 7.095,3.1175c4.66281,1.3975 11.86531,2.6875 22.4675,2.6875c10.60219,0 17.80469,-1.29 22.4675,-2.6875c0.60469,-0.17469 1.08844,-0.34937 1.6125,-0.5375v15.265c-0.01344,1.10188 0.51063,2.13656 1.3975,2.795c0,0 2.43219,1.72 7.095,3.1175c4.66281,1.3975 11.86531,2.6875 22.4675,2.6875c10.60219,0 17.80469,-1.29 22.4675,-2.6875c4.66281,-1.3975 7.095,-3.1175 7.095,-3.1175c0.88688,-0.65844 1.41094,-1.69312 1.3975,-2.795v-15.265c0.52406,0.18813 1.00781,0.36281 1.6125,0.5375c4.66281,1.3975 11.86531,2.6875 22.4675,2.6875c10.60219,0 17.80469,-1.29 22.4675,-2.6875c4.66281,-1.3975 7.095,-3.1175 7.095,-3.1175c0.88688,-0.65844 1.41094,-1.69312 1.3975,-2.795v-15.48c0,-12.33562 -7.33687,-22.97812 -17.845,-27.95c6.59781,-4.3 10.965,-11.78469 10.965,-20.21c0,-13.26281 -10.81719,-24.08 -24.08,-24.08c-2.99656,0 -5.84531,0.60469 -8.4925,1.6125c-2.16344,-2.27094 -4.71656,-4.16562 -7.525,-5.59c5.13313,-3.7625 8.4925,-9.83625 8.4925,-16.6625c0,-11.35469 -9.28531,-20.64 -20.64,-20.64c-11.35469,0 -20.64,9.28531 -20.64,20.64c0,6.82625 3.35938,12.9 8.4925,16.6625c-7.90125,3.89688 -13.67937,11.395 -15.05,20.425c-1.37062,-9.04344 -7.13531,-16.54156 -15.05,-20.425c5.13313,-3.7625 8.4925,-9.83625 8.4925,-16.6625c0,-11.35469 -9.28531,-20.64 -20.64,-20.64zM58.48,13.76c7.64594,0 13.76,6.11406 13.76,13.76c0,7.64594 -6.11406,13.76 -13.76,13.76c-7.64594,0 -13.76,-6.11406 -13.76,-13.76c0,-7.64594 6.11406,-13.76 13.76,-13.76zM112.875,13.76c7.64594,0 13.76,6.11406 13.76,13.76c0,7.64594 -6.11406,13.76 -13.76,13.76c-7.64594,0 -13.76,-6.11406 -13.76,-13.76c0,-7.64594 6.11406,-13.76 13.76,-13.76zM58.48,48.16c11.59656,0 20.64,9.04344 20.64,20.64v1.075c-9.89,2.99656 -17.2,12.16094 -17.2,23.005c0,8.42531 4.36719,15.91 10.965,20.21c-4.31344,2.0425 -8.00875,5.03906 -10.965,8.7075v-1.3975c0,-12.33562 -7.33687,-22.97812 -17.845,-27.95c6.59781,-4.3 10.965,-11.78469 10.965,-20.21c0,-7.8475 -3.82969,-14.835 -9.675,-19.2425c3.57438,-3.05031 8.00875,-4.8375 13.115,-4.8375zM112.875,48.16c5.25406,0 9.82281,1.84094 13.4375,5.0525c-5.67062,4.4075 -9.3525,11.32781 -9.3525,19.0275c0,8.42531 4.36719,15.91 10.965,20.21c-10.50812,4.97188 -17.845,15.61438 -17.845,27.95v1.3975c-2.95625,-3.66844 -6.65156,-6.665 -10.965,-8.7075c6.59781,-4.3 10.965,-11.78469 10.965,-20.21c0,-11.08594 -7.60562,-20.45187 -17.845,-23.22v-0.86c0,-11.59656 9.04344,-20.64 20.64,-20.64zM30.96,55.04c2.67406,0 5.16,0.645 7.4175,1.72c5.77813,2.76813 9.7825,8.61344 9.7825,15.48c0,9.54063 -7.65937,17.2 -17.2,17.2c-9.54062,0 -17.2,-7.65937 -17.2,-17.2c0,-9.54062 7.65938,-17.2 17.2,-17.2zM141.04,55.04c9.54063,0 17.2,7.65938 17.2,17.2c0,9.54063 -7.65937,17.2 -17.2,17.2c-9.54062,0 -17.2,-7.65937 -17.2,-17.2c0,-6.35594 3.39969,-11.85187 8.4925,-14.835c0.02688,-0.01344 0.08063,0.01344 0.1075,0c0.51063,-0.1075 0.98094,-0.3225 1.3975,-0.645c0.12094,-0.05375 0.20156,-0.16125 0.3225,-0.215c0.06719,-0.02687 0.14781,-0.06719 0.215,-0.1075c2.05594,-0.87344 4.28656,-1.3975 6.665,-1.3975zM86,75.68c9.54063,0 17.2,7.65938 17.2,17.2c0,9.54063 -7.65937,17.2 -17.2,17.2c-9.54062,0 -17.2,-7.65937 -17.2,-17.2c0,-9.54062 7.65938,-17.2 17.2,-17.2zM30.96,96.32c13.26281,0 24.08,10.81719 24.08,24.08v13.2225c-0.51062,0.30906 -0.71219,0.65844 -3.5475,1.505c-3.93719,1.1825 -10.49469,2.4725 -20.5325,2.4725c-10.03781,0 -16.59531,-1.29 -20.5325,-2.4725c-2.83531,-0.84656 -3.03687,-1.19594 -3.5475,-1.505v-13.2225c0,-13.26281 10.81719,-24.08 24.08,-24.08zM141.04,96.32c13.26281,0 24.08,10.81719 24.08,24.08v13.2225c-0.51062,0.30906 -0.71219,0.65844 -3.5475,1.505c-3.93719,1.1825 -10.49469,2.4725 -20.5325,2.4725c-10.03781,0 -16.59531,-1.29 -20.5325,-2.4725c-2.83531,-0.84656 -3.03687,-1.19594 -3.5475,-1.505v-13.2225c0,-13.26281 10.81719,-24.08 24.08,-24.08zM86,116.96c13.26281,0 24.08,10.81719 24.08,24.08v13.2225c-0.51062,0.30906 -0.71219,0.65844 -3.5475,1.505c-3.93719,1.1825 -10.49469,2.4725 -20.5325,2.4725c-10.03781,0 -16.59531,-1.29 -20.5325,-2.4725c-2.83531,-0.84656 -3.03687,-1.19594 -3.5475,-1.505v-13.2225c0,-13.26281 10.81719,-24.08 24.08,-24.08z"></path></g></g></svg></a>
                    <h3>Controle de pessoal </h3>
                    
                  </header>
                  <p></p>
                    
                </div>
              </section>

		<% }else{ %> 
	<% } %>


	<%  if(user.permissoes.admin === 'sim'){ %>	

              <section>
                <div class="content">
                  <header>
					  <a href="/mapa">
					<svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
					width="96" height="96"
					viewBox="0 0 50 50"
					style=" fill:#20341e;"><path d="M25.415,47.025l-0.323-0.322c-0.492-0.495-0.383-1.101-0.31-1.394c-0.095-0.03-0.195-0.078-0.303-0.143 c-0.334-0.205-0.615-0.434-0.888-0.657l-0.252-0.203c-0.275-0.217-0.463-0.5-0.628-0.75c-0.041-0.062-0.093-0.14-0.14-0.206 c-0.384,0.018-1.146,0.034-1.488-0.652c-0.571-1.142,1.231-2.68,1.438-2.852c0.158-0.131,0.382-0.285,0.633-0.454 c0.313-0.21,1.018-0.686,1.171-0.966c-0.022-0.025-0.047-0.049-0.069-0.074c-0.177-0.195-0.444-0.489-0.56-0.947 c-0.075-0.304-0.064-0.575-0.057-0.773c0.002-0.036,0.005-0.073,0.007-0.109c-0.008-0.004-0.016-0.009-0.022-0.014 c-0.127-0.079-0.252-0.162-0.363-0.258c-0.394-0.34-0.583-0.699-0.734-0.987c-0.048-0.091-0.097-0.186-0.158-0.283 c-0.094-0.147-0.173-0.188-0.538-0.328c-0.225-0.086-0.459-0.179-0.701-0.313c-1.551-0.86-1.249-2.545-1.149-3.099 c0.035-0.198,0.081-0.398,0.128-0.601c0.124-0.536,0.231-0.998,0.1-1.345c-0.084-0.102-0.563-0.232-0.82-0.303 c-0.44-0.121-0.94-0.257-1.358-0.549c-0.922-0.643-0.815-1.641-0.759-2.177c0.021-0.207,0.047-0.44,0.012-0.544 c-0.111-0.334-0.313-0.516-1.219-0.708c-0.332-0.07-0.626-0.092-0.886-0.113c-1.194-0.096-2.22-0.335-2.678-2.302 c-0.062-0.261-0.095-0.501-0.12-0.716c-0.143,0.04-0.332,0.098-0.581,0.184c-0.259,0.09-0.562,0.245-0.882,0.409 c-0.68,0.349-1.45,0.745-2.313,0.782c-0.319,0.015-1.161,0.049-1.765-0.624c-0.228-0.253-0.344-0.523-0.403-0.776 C5.443,22.009,4.4,21.56,3.729,20.68c-1.129-1.48-0.763-4.003-0.16-5.243c0.603-1.238,1.698-1.503,2.498-1.698 c0.378-0.091,0.734-0.178,1.01-0.345c0.229-0.138,0.704-0.426,0.194-1.796c-0.054-0.144-0.138-0.275-0.218-0.41 C6.9,10.932,6.71,10.613,6.606,10.225c-0.15-0.561-0.161-1.264,0.491-1.685C6.966,8.068,7.094,7.702,7.195,7.508 c0.372-0.71,1.23-0.849,1.555-0.9c0.848-0.138,1.605-0.039,2.247,0.292c0.294,0.151,0.535,0.338,0.748,0.503 c0.229,0.178,0.428,0.331,0.584,0.356c0.246,0.036,0.641-0.092,0.929-0.301c0.11-0.08,0.146-0.129,0.153-0.141 c0.003,0.003-0.009-0.093-0.232-0.458l-0.087-0.133c-0.263-0.389-0.959-1.42-0.185-2.306c0.616-0.703,1.449-0.667,2.47,0.1 c0.079,0.059,0.151,0.119,0.218,0.155c0.147,0.054,0.383-0.11,0.939-0.608c0.447-0.399,0.954-0.852,1.621-1.032l0.297-0.08l0.29,0.1 c0.771,0.266,0.806,1.024,0.859,2.171c0.025,0.54,0.077,1.663,0.236,1.945c0.002,0,0.294,0.204,1.43-0.098 c0.281-0.075,0.539-0.224,0.837-0.397c0.233-0.135,0.47-0.271,0.729-0.389c0.821-0.373,1.478-0.244,2.005-0.14 c0.151,0.03,0.31,0.063,0.483,0.079c0.146,0.013,0.2-0.005,0.201-0.005c0.04-0.037,0.146-0.244,0.216-0.38 c0.18-0.354,0.427-0.838,0.911-1.223c0.666-0.527,1.275-0.429,1.579-0.324c1.06,0.369,1.457,1.719,1.773,3.07l0.056,0.231 c0.109,0.427,0.087,0.834-0.006,1.213c0.202,0.026,0.406,0.099,0.609,0.234c0.253,0.168,0.458,0.421,0.649,0.688 c0.957-0.398,2.028-0.079,2.74,0.132l0.137,0.041c1.146,0.337,1.509,0.965,1.836,1.646c0.104-0.015,0.223-0.03,0.356-0.044 c0.685-0.071,1.382,0.054,1.999,0.166c0.389,0.07,0.755,0.137,1.051,0.143c2.448,0.055,3.179,1.601,3.615,2.524 c0.155,0.329,0.303,0.639,0.455,0.765c0.324,0.267,0.775,0.346,1.253,0.43c0.632,0.111,1.419,0.249,1.897,0.943 c0.46,0.667,0.371,1.479,0.266,2.03c-0.236,1.228-0.971,2.265-1.502,2.938c-0.401,0.508-0.736,0.877-1.082,1.257 c-0.257,0.281-0.52,0.57-0.824,0.938c-0.337,0.406-0.77,0.666-1.151,0.896c-0.29,0.174-0.617,0.372-0.701,0.536 c-0.159,0.313-0.062,0.888,0.032,1.444c0.097,0.57,0.196,1.16,0.111,1.766c-0.143,1.01-0.602,1.883-1.006,2.653 c-0.124,0.235-0.248,0.47-0.361,0.708c-0.13,0.272-0.244,0.562-0.361,0.855c-0.312,0.785-0.666,1.674-1.325,2.381 c-0.757,0.811-1.559,0.769-2.088,0.74c-0.168-0.009-0.35-0.021-0.561,0.001c-0.854,0.096-2.064,0.342-2.846,0.676 c-0.553,0.236-1.242,0.914-1.715,1.688c-0.017,0.054,0.03,0.181,0.065,0.274c0.284,0.761,0.512,1.694-0.397,3.148 c-0.096,0.154-0.225,0.285-0.458,0.521c-0.241,0.245-0.572,0.58-0.851,0.938c-3.187,4.083-3.822,4.121-4.03,4.133L25.415,47.025z"></path></svg>
						</a>
					<h3>mapa</h3>
                  </header>
                  <p>localização de militares</p>
                    
                </div>
              </section>
			  <% }else{ %> 
				<% } %>

				<%  if(user.permissoes.admin === 'sim'){ %>	
			  <section>
                <div class="content">
                  <header>
					  <a href="/faq">
						<svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
						width="96" height="96"
						viewBox="0 0 172 172"
						style=" fill:#000000;"><g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal"><path d="M0,172v-172h172v172z" fill="none"></path><g fill="#20341e"><path d="M65.49206,34.761c-11.56357,0.00001 -20.93769,9.37413 -20.9377,20.9377v28.224c-0.00487,6.06843 2.6302,11.83885 7.21938,15.8094l-5.72669,11.11612c-1.76703,3.42992 1.90951,7.10636 5.33957,5.33957l21.9921,-11.32739h73.98827c5.55302,0.00001 10.87861,-2.20592 14.80519,-6.1325c3.92658,-3.92658 6.13251,-9.25217 6.1325,-14.80519v-28.224c-0.00001,-11.56357 -9.37413,-20.93769 -20.9377,-20.9377zM137.28427,49.14792c5.31332,0 9.87516,1.9168 13.68617,5.75096c3.81101,3.83417 5.71667,8.50805 5.71684,14.02145c0,4.71045 -1.41937,8.8207 -4.25761,12.33127c-0.39033,0.46833 -0.40584,1.14408 -0.0374,1.62982l1.71118,2.21181c0.77914,1.00712 0.91741,2.36978 0.35645,3.51288c-0.56095,1.1431 -1.72339,1.86746 -2.99671,1.86737c-1.03059,-0.00003 -2.00337,-0.47613 -2.63567,-1.28995l-1.64753,-2.11995c-0.36623,-0.47886 -1.01571,-0.63945 -1.5629,-0.38646c-2.5786,1.20835 -5.39676,1.81886 -8.24425,1.78598c-5.62263,0 -10.29372,-1.9382 -14.01358,-5.8146c-4.26795,-4.34157 -6.28932,-10.41221 -5.476,-16.44571c0.81332,-6.0335 4.36998,-11.35222 9.6352,-14.40871c2.95786,-1.74474 6.33174,-2.65893 9.76581,-2.64616zM59.43273,50.08881h11.89297c0.90776,0.00007 1.77831,0.36075 2.42013,1.0027c0.64182,0.64194 1.00234,1.51256 1.00223,2.42032v0.1017c0.0001,0.90776 -0.36041,1.77838 -1.00223,2.42032c-0.64182,0.64194 -1.51237,1.00263 -2.42013,1.0027h-6.70628c-0.75838,0.00015 -1.37313,0.6149 -1.37328,1.37328v4.047c-0.0001,0.36431 0.14453,0.71373 0.40207,0.9714c0.25754,0.25767 0.6069,0.40246 0.9712,0.40253h6.70628c1.8903,0 3.42269,1.53239 3.42269,3.42269c0,1.8903 -1.53239,3.42269 -3.42269,3.42269h-6.70628c-0.75838,0.00015 -1.37313,0.6149 -1.37328,1.37328v11.93497c0.00002,0.93813 -0.37264,1.83783 -1.036,2.50119c-0.66336,0.66336 -1.56306,1.03602 -2.50119,1.036c-1.95329,-0.00033 -3.53657,-1.58389 -3.53653,-3.53719v-30.63461c-0.00006,-1.80075 1.45955,-3.26065 3.2603,-3.26096zM96.10109,50.08946c2.18304,-0.00598 4.14317,1.33628 4.92687,3.37381l11.2959,29.36894c0.40804,1.06114 0.26724,2.25517 -0.37643,3.19229c-0.64367,0.93712 -1.70762,1.49707 -2.8445,1.49706c-1.43323,0.0001 -2.71732,-0.88573 -3.22618,-2.22559l-1.56093,-4.10999c-0.31435,-0.82752 -1.10745,-1.37462 -1.99266,-1.37459h-12.35357c-0.87505,-0.00017 -1.66131,0.5345 -1.98282,1.34835l-1.65016,4.17888c-0.52046,1.31748 -1.79322,2.18307 -3.20978,2.18294h-0.02887c-1.13733,-0.00009 -2.20158,-0.56057 -2.84508,-1.49835c-0.6435,-0.93778 -0.7836,-2.13241 -0.37454,-3.19363l11.32674,-29.37091c0.78113,-2.02521 2.72541,-3.36317 4.89603,-3.36921zM137.28427,56.11993c-3.49857,0 -6.42852,1.20497 -8.78883,3.61395c-2.36032,2.40898 -3.54027,5.47055 -3.54047,9.18579c0,4.13935 1.48712,7.41391 4.46101,9.82289c2.22639,1.84696 5.03401,2.84744 7.92668,2.82463c0.99732,0.0031 1.99114,-0.11813 2.95848,-0.36087c0.4285,-0.10782 0.77376,-0.42443 0.9182,-0.84201c0.14444,-0.41759 0.0686,-0.87985 -0.20171,-1.22939l-1.39952,-1.80041c-0.78224,-1.00642 -0.92298,-2.3705 -0.36272,-3.51544c0.56027,-1.14494 1.72371,-1.87082 2.99838,-1.87072h0.04068c1.03311,-0.00015 2.00805,0.47811 2.64026,1.29519l1.16791,1.50975c0.27693,0.35815 0.71953,0.54742 1.16979,0.50024c0.45026,-0.04718 0.84402,-0.32408 1.0407,-0.73185c0.8358,-1.76686 1.26279,-3.69933 1.24927,-5.65386c0.06882,-3.37205 -1.22647,-6.6291 -3.5923,-9.03291c-2.23995,-2.41048 -5.39557,-3.76017 -8.68582,-3.715zM96.15883,61.84465c-0.42994,-0.00002 -0.81591,0.26355 -0.97238,0.664l-3.4906,8.93187c-0.12553,0.32127 -0.08426,0.6838 0.11027,0.96863c0.19453,0.28483 0.51719,0.45519 0.86211,0.45516h6.96021c0.34452,-0.00003 0.66684,-0.17004 0.86141,-0.45435c0.19457,-0.28432 0.23634,-0.64632 0.11162,-0.96748l-3.4696,-8.93187c-0.15592,-0.40145 -0.54237,-0.66594 -0.97304,-0.66597zM26.65913,85.47051c-8.79724,0 -15.92882,7.13157 -15.92882,15.92882c0,8.79724 7.13157,15.92882 15.92882,15.92882c8.79724,0 15.92882,-7.13157 15.92882,-15.92882c0,-8.79724 -7.13157,-15.92882 -15.92882,-15.92882zM12.45593,119.7171c-4.85355,0 -8.76062,3.90773 -8.76062,8.76128c0,4.85355 3.90707,8.76062 8.76062,8.76062h28.40706c4.85355,0 8.76062,-3.90707 8.76062,-8.76062c0,-4.85354 -3.90707,-8.76128 -8.76062,-8.76128z"></path></g></g></svg>
					</a>
			<h4>Duvidas frequentes</h4>
		  </header>
		  <p>Veja as principais duvida reportadas</p>
			
		</div>
	  </section>
	  <% }else{ %> 
		<% } %>

		<%  if(user.permissoes.admin === 'sim'){ %>	
			<section>
				<div class="content">
					<header>
						<a href="/cautela"><svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
							width="96" height="96"
							viewBox="0 0 172 172"
							style=" fill:#000000;"><g transform=""><g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal"><path d="M0,172v-172h172v172z" fill="none"></path><path d="" fill="none"></path><g fill="#20341e"><path d="M50.16667,14.33333c-11.78895,0 -21.5,9.71105 -21.5,21.5v100.33333c0,11.78895 9.71105,21.5 21.5,21.5h93.16667v-14.33333h-93.16667c-4.04938,0 -7.16667,-3.11729 -7.16667,-7.16667c0,-4.04938 3.11728,-7.16667 7.16667,-7.16667h93.16667v-14.33333v-100.33333h-28.66667h-43zM50.16667,28.66667h21.5v58.21517l11.2819,-7.90853l10.2181,-7.18066l21.5,15.08919v-58.21517h14.33333v86h-78.83333c-2.52154,0 -4.90994,0.5299 -7.16667,1.34375v-80.17708c0,-4.04938 3.11728,-7.16667 7.16667,-7.16667zM86,28.66667h14.33333v30.6543l-7.16667,-5.02507l-7.16667,5.02507z"></path></g></g></g></svg></a>
						<h3>Livro de cautela</h3>
					</header>
					<p>livro de cautela.</p>
				</div>
			</section>
			<% }else{ %> 
				<% } %>


				<section>
					<div class="content">
						<header>
							<a href="/lista/telefonica">
								<img src="https://img.icons8.com/material-outlined/96/000000/phone-contact.png"/>
							</a>
						<p>Lista Telefonica.</p>
					</div>
				</section>




				</div>
				</div>
			</section>














	<% }catch(erro){ %>
						
	<% } %>

		<!-- Scripts -->


			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/browser.min.js"></script>
			<script src="assets/js/breakpoints.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>

	</body>
</html>